body {
  font-family: Arial, sans-serif;
  background-color: #292929;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 80%;
  margin: 50px auto;
  background-color: #808080;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

.search-bar, .form-group {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: 	#ffa31a;
  color: #1b1b1b;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #8B4000;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid #ffffff;
}

th, td {
  padding: 15px;
  text-align: left;
}

th {
  background-color: #ffffff;
}

.actions {
  display: flex;
  gap: 10px;
}
